.add-user-button, .create-user-button, .save-button, .cancel-edit-button {
    width: 125px;
    border-radius: 1rem;
    border: var(--main-color) solid 1px;
    background-color: var(--main-color);
    color: var(--color-white);
    font-size: 1rem;
    padding: .5rem 1rem;
}

.save-button {
    border: var(--color-white) solid 1px;
}

.cancel-edit-button {
    background-color: var(--color-white);
    color: var(--main-color);
    border: var(--main-color) solid 1px;
}

.add-user-button:hover, .create-user-button:hover,  .save-button:hover, .cancel-edit-button:hover {
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--main-color);
    border: var(--main-color) solid 1px;
    transition: 150ms ease-in-out;
}

.cancel-edit-button:hover {
    background-color: var(--main-color);
    color: var(--color-white);
    border: var(--color-white) solid 1px;

}

.edit-button {
    margin-bottom: 20px;
}

/* Tablet & Desktop */

@media screen and (min-width: 768px) {
    .add-user-button {
        position: absolute;
        right: 0;
        margin-right: 50px;
    }

}