.card {
  width: 190px;
  height: 235px;
  border-radius: 20px;
  background: #fff;
  position: relative;
  padding: 0.5rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 25px 25px;


}

.card-details {
  height: 100%;
  gap: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}

.card-image {
  width: 100px;
  height: 100px;
  ;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
