.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-detail-container {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    border-radius: 20px;
    background:var(--main-color);

}

.fa-arrow-left, .profile-buttons  {
    font-size: 1.5rem;
}

.fa-arrow-left {
    position: absolute;
    left: 0;
    color: var(--main-color);
    margin: 0 10px
}

.profile-buttons {
    position: absolute;
    right: 0;
}

.fa-pen-to-square {
    color: var(--color-yellow);
}

.fa-trash-can {
    color: var(--color-red);
    margin: 0 10px
}

.profile-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
}