:root {
    --main-color: #213C87;
    --color-white: #fff;
    --color-yellow: #FFBA5E;
    --color-red: #ce0003;
}

body {
    font-family: 'Oswald', sans-serif;
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
}

main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}